<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header>
        <div id="header-inner">
        <a href="welcome.html" id="logo"></a>
        <nav>
           <a href="#" id="menu-icon"></a>
            <ul>
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "Skills", welcome_skills_path %></li>
                <li><%= link_to "Portfolio",welcome_portfolio_path %></li>
                <li> <%= link_to "Contact", welcome_contact_path %></li>
                <li><%= link_to "Our Team", welcome_our_team_path %></li>
                <li><%= link_to "Sign in", welcome_our_team_path %></li>
            </ul>
        </nav> 
        </div>
</header>
</body> 